<a href="https://colab.research.google.com/github/nicholasl33/Micro-Cred-2022/blob/main/day_3_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loops

In [1]:
# looping allows you to essentially 'automate' a task
# allows to perform the same task over and over a list of data points

In [2]:
for x in 'CUNY':
  print(x)

C
U
N
Y

In [4]:
tvshows = ['star trek', 'game of thrones', 'stranger things']
for show in tvshows:
# this line tells python to retrieve the first value from the list tvshows and store it in a varaible show
  print(show)
# python then prints the current value of show. since the list has more than one value, loop continues

star trek
game of thrones
stranger things

In [6]:
tvshows = ['star trek', 'game of thrones', 'stranger things']
for show in tvshows:
  print(show.title() + ',is one of my favorite shows!')
# ^ white space automatically created by python

Star Trek,is one of my favorite shows!
Game Of Thrones,is one of my favorite shows!
Stranger Things,is one of my favorite shows!

In [9]:
for x in range(1,21):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
for x in range(1,21):
  print(x+3)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [11]:
for x in list(range(1,21)):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
list(range(1,21, 2))
# counts the numbers by 2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
num = list(range(1,11))

In [18]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
len(num)

10

In [20]:
min(num)

1

In [21]:
max(num)

10

In [23]:
sum(num)

55

In [27]:
17 % 2

1

In [28]:
18 % 7

4

In [25]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
for num in l:
  if num % 2 == 0:
    print(num)
# if the number in the list divided by 2 has a remainder that equals 0 it prints
  else:
    print('This is not an even number')

This is not an even number
2
This is not an even number
4
This is not an even number
6
This is not an even number
8
This is not an even number
10

In [37]:
for num in l:
  if num % 2 == 1:
    print(num)
  else:
    print('This is not an odd number')

1
This is not an odd number
3
This is not an odd number
5
This is not an odd number
7
This is not an odd number
9
This is not an odd number

In [42]:
l2 = [12, 45, 6, 3, 45, 678, 2, 45657]

In [43]:
listSum = 0

for num in l2:
  listSum = listSum + num

print(listSum)

46448

In [44]:
dy = {'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [45]:
for item in dy:
  print(item)

k1
k2
k3
k4

In [46]:
for k,v in dy.items():
  print(k)
  print(v)

k1
1
k2
2
k3
3
k4
4